/* Editor-specific styles */
.wp-block-meiliscout-query-loop-facet {
    padding: 1rem;
    border: 1px dashed #ccc;
    border-radius: 0.375rem;
}

.facet-warning {
    padding: 1rem;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 0.375rem;
    color: #856404;
}

.facet-warning p {
    margin: 0;
    font-size: 0.875rem;
}

.facet-warning p + p {
    margin-top: 0.5rem;
}

/* Override some front-end styles for better editor experience */
.editor-styles-wrapper .meiliscout-facet {
    margin-bottom: 0;
}

.editor-styles-wrapper .facet-checkbox-input,
.editor-styles-wrapper .facet-radio-input,
.editor-styles-wrapper .facet-select-input,
.editor-styles-wrapper .facet-range-input,
.editor-styles-wrapper .facet-button-remove {
    pointer-events: none;
}

.editor-styles-wrapper input[type="checkbox"]:checked::before {
    display: none;
}
